[class*="col-"] {
	background: pink;
	border: 1px solid black;
	height: 300px;
}

.container{
	text-align: center;
	line-height: 300px;
}

.pad10{
	padding: 10px;
}

[class*="col-"] .container [class*="col-"]{
	height: 280px;
	background: #ff4d94;
	border: 1px solid #fff;
}
